/* font section */

body{font-family: 'Work Sans', sans-serif;}
*{margin: 0px;}

/* nav section */

nav{display: flex;  justify-content: space-between; padding: 36px 240px 19px 240px; align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);}
   
.logo{ width: 5rem;
       height: 2.5rem;
       margin-right: 20px; }

.nav-title{font-size: 2.5rem;
    font-weight: 700; }

.nav-sections a {color: #3C354F; text-decoration: none;}

.nav-sections li{list-style: none;}  

.icon-nav{display: flex; align-items: center;}

.youtube{width: 32px;
    height: 30px; margin-left: 24px;}

.tiktok{width: 24px;
    height: 24px; margin-left: 16px; margin-right: 16;}

.color{color: #FF42A5;}

.nav-logo{display: flex; align-items: center;}

.nav-bar{font-size: 1.2rem; font-weight: 500; padding-left: 32px;}

.nav-icon{display: flex; align-items: center; background-color: rgba(11, 2, 35, 0.10); border-radius: 8px; 
    padding: 16px; margin-left: 30px;}

#follow{font-size: 1.2rem; font-weight: 500;}

.nav-sections{display: flex; align-items: center;}

/* banner section  */

.banner-bg{background-image: url(../images/Group\ 14.png); width: 100%; background-repeat: no-repeat;
     padding: 148px 300px 148px 230px;}

.banner-section{display: flex; justify-content: space-between;}

.banner-image{display: flex; color: #534C64; font-size: 1.3rem; font-weight: 500; text-transform: lowercase;
    padding-top: 17px;}

.banner-first-text{color: #0B0223; font-size: 3rem; font-weight: 600; text-transform: uppercase;}

.banner-second-text{font-size: 6rem; font-weight: 800; text-transform: uppercase; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.button-first{border-radius: 48px; background:#FF42A5; padding: 21px 40px; border: none;
    color: #FFF; font-size: 1.3rem; font-weight: 600; text-transform: uppercase; margin-right: 24px; }  
    
.button-second{border-radius: 48px; background:#4EC5F7; padding: 21px 40px; border: none;
    color: #FFF; font-size: 1.3rem; font-weight: 600; text-transform: uppercase;}    

.button-flex{ display: flex; padding-top: 40px;}

/* <!-- Online Games Funny Videos section --> */
   
.four-games{display: flex; margin: 48px 240px 120px; gap: 24px; }

#online-first-text{color: #0B0223; font-size: 48px; font-weight: 700; padding-bottom: 16px;}

#online-first-text-mid{background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
 background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;
 font-size: 3rem; font-weight: 700;}

 #online-second-text{color: #534C64; font-size: 1.1rem; font-weight: 400;}

 .online-texts{text-align: center; margin-top: 120px;}
 .four-games-text{color: #534C64; font-size: 1.3rem; font-weight: 500; padding-top: 24px;}

 /* Play Instantly,No Downloads No Installs section\ */

.play-instant-container{display: flex; justify-content: space-between;}

.play-instant-first-text{color: #0B0223; font-size: 3rem; font-weight: 700; margin-bottom: 30px;
    text-align: right;}

#pink{background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); background-clip: text;
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;}

.play-instant-second-text{color: #534C64; text-align: right; font-size: 1.1rem; font-weight: 400;
    text-align: right;}

.play-instant-textbox{margin:330px 100px 200px 320px}

.cowboy{margin: 120px 240px 150px 100px;}

.angela { position: relative; left:890px; bottom:450px; margin-bottom: 50px;}

/* all games section */


















/* Resposive part of website */

/* For mobile */

@media screen and (max-width: 576px) { nav{ flex-direction: column; padding-bottom: 62px; padding-top: 100px; width: 75%;} 
.nav-sections{flex-direction: column; padding-top: 60px; gap: 50px;} .nav-icon{width: 262px; height: 56px;}

.banner-section{flex-direction: column-reverse;} .banner-bg{ background-size: 110%; padding-right: 20%; padding-bottom: 100px;}

.four-games{flex-direction: column; margin: 48px 140px 120px;} .four-games-all{width: 603px;
    height: 560.331px;} .four-games-text{width: 603px; height: 84.05px; text-align: center;}
    #online-first-text{width: 655px; margin-left: 70px;} #online-second-text{margin-left: 170px; width: 470px;}







}











